body {
	background-color: #000;
	font-family: "Avenir Next";
  	color: white;
}
/* Navigation Bar */
.header {
  	height: 50px;
  	border-bottom: 2px solid white;
}

li {
  	list-style: none;
}

.header-list li{
  	float: left;
  	padding: 15px 20px;
}

.header-list li:hover {
	background-color: white;
	color: #000;
	transition: 0.3s;
	cursor: pointer;
}

/* Main Section */
.content {
	padding: 50px;
	font-size: 50px;

}
.logo {
	padding-left: 170px;
	padding-bottom: 50px;
	height: 200px;
	border-bottom: 2px solid white;

}
.logo p{
  	font-size: 45px;
 	float: left;
 	padding: 60px 50px;
}
.logo p span1 {
	color: #ed0e3b;
}
.logo p span2 {
	color: #ed1f90;
}
.logo p span3 {
	color: #2db31e;
}
.logo p span4 {
	color: #e8e413;
}

.logo p:hover {
	background-color: white;
	color: #000;
	transition: 0.3s;
	cursor: pointer;
}

.content button {
	border-radius: 2px;
	height: 65px;
	width: 150px;
	font-size: 20px;
	background-color: #ed881c;
}